body {
    background-image: url('Booksummary.jpg');
     background-repeat: no-repeat;
     background-size: cover;
   }

   .book_summary{
    /* text-align:justify; */
    padding-top: 65px;
    text-align: center;
   }