
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  /* background-color: grey; */
  margin-left: 1320px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a.active {
  color: black;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkcyan;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .container {
    margin: 50px auto;
  }
}
