body {
  background-image: url('todolistwallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .topnav {
    overflow: hidden;
    margin-left: 1320px;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  
  .topnav a.active {
    color: black;
  }
  

  .container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  .todo-list {
    list-style-type: none;
    padding: 0;
    gap: 20px;
  }
  .todo-list li {
    margin-bottom: 10px;
  }
  input[type="checkbox"] {
    display: none;
  }
  label {
    display: inline-block;
    background-color:grey;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label {
    background-color: #c3e6cb;
    text-decoration: line-through;
    border-color: black;
  }
  p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left;
  }
  button {
    padding: 15px 25px;
    background-color:darkcyan;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }

  
  /* Media queries */
@media only screen and (max-width: 600px) {
  .container {
    margin: 50px auto;
  }
}

  